.container{
    width: 100vw;
    height:100vh;
    display: flex;
    /* padding: 180px 129px 154px 129px; */
justify-content: center;
align-items: center;
}
.innerBlock{
    display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.rightHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: #000;
font-family: Poppins;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.playButton{
    border: 2px solid black;
    display: flex;
width: 220px;
padding: 10px 18px;
margin-right: 0px;
flex-direction: column;
justify-content: right;
align-items: center;
gap: 10px;
color: aliceblue;
border-radius: 5px;
background: #000;
}
.playNow{
    float: right;

}